/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap");

/* Global */
html {
  min-height: 100%;
}

body {
  background-color: #fff8f0;
}

/* height: calc(100vh - 8em); padding: 4em; */

h1 {
  font-family: "Bebas Neue";
  font-size: 38px;
  line-height: auto;
  letter-spacing: 0.1em;
  margin: 0.5em;
}

p {
  font-family: "Montserrat";
  font-size: 22px;
  line-height: auto;
  margin: 0.8em;
}

h1,
p {
  color: #485373;
  font-weight: 400;
  text-align: center;
}

.profile_pic {
  text-align: center;
}

.profile_pic img {
  max-width: 100%;
  height: auto;
}

.lista {
  margin: 2em;
}

.lista a {
  display: block;
  padding: 0.8em 2em;
  margin: 0 0.3em 0.5em 0;
  box-sizing: border-box;
  background: #485373;
  text-align: center;
}

.button {
  font-family: "Montserrat";
  font-size: 22px;
  line-height: 40px;
  color: #fff8f0;
  text-decoration: none;
  transition: 0.4s ease-in;
}

.button:hover {
  color: #485373;
  background-color: #fff8f0;
  border: 2px solid #485373;
}

.icons {
  margin: 0 auto;
  text-align: center;
}

.icons a {
  margin: 1em;
}

.icons img {
  transition: transform 250ms;
}

.icons img:hover {
  transform: translateY(-10px);
}

.creditos {
  padding-top: 1em;
  margin-top: 2em;
}

.creditos p {
  font-family: "Montserrat";
  font-size: 16px;
  line-height: auto;
}
